absl-py==0.2.2
astor==0.7.1
cycler==0.10.0
dlib==19.15.0
gast==0.2.0
grpcio==1.13.0
h5py==2.8.0
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.2
numpy==1.15.0
opencv-contrib-python==3.4.2.17
opencv-python==3.4.2.17
Pillow==5.2.0
protobuf==3.6.0
pyglfw==0.2.2
PyOpenGL==3.1.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
six==1.11.0
termcolor==1.1.0
Werkzeug==0.14.1
